body {
    margin: 0;
}

nav {
    background: #333;
    padding: 10px;
}

nav div {
    padding-left: 1rem;
    padding-bottom: .5rem;
}

nav h1 {
    color: white;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

tr th {
    padding-right: 1rem;
    text-align: start;
}

tr td {
    text-align: start;
    text-overflow: ellipsis;
    max-width: 450px;
    padding: 6px 1rem;
}