{% extends "index.html" %}

{% block content %}
<h2>Deliveries</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Recipient</th>
            <th>Driver</th>
            <th>Campaign</th>
            <th>Delivered Date</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for d in deliveries %}
        <tr>
            <td>{{ d.deliveryID }}</td>
            <td>{{ d.recipientName }}</td>
            <td>{{ d.driverName }}</td>
            <td>{{ d.campaignName }}</td>
            <td>
                {% if d.deliveredDateTime %}
                {{ d.deliveredDateTime }}
                {% else %}
                <em>Not delivered yet</em>
                {% endif %}
            </td>
            <td>{{ d.notes }}</td>
            <td>
                <a href="{{ url_for('edit_delivery', id=d.deliveryID) }}">
                    <button>Edit</button>
                </a>
            </td>
            <td>
                <form action="/delete-delivery/{{ d.deliveryID }}" method="POST" style="margin: 0;"><button
                        disabled>Delete</button></form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Add Delivery</h3>
<form action="/add-delivery" method="POST">
    <select name="recipient" placeholder="Recipient" required>
        <option selected>Select Recipient</option>
        {% for r in recipients %}
        <option value="{{ r.recipientID }}">{{ r.organizationName }}</option>
        {% endfor %}
    </select>
    <select name="driver" placeholder="Driver" required>
        <option selected>Select Driver</option>
        {% for d in drivers %}
        <option value="{{ d.driverID }}">{{ d.firstName }} {{ d.lastName }}</option>
        {% endfor %}
    </select>
    <input name="campaignName" placeholder="Campaign Name">
    <input name="deliveredDateTime" placeholder="Date/Time">
    <input name="notes" placeholder="Notes">
    <button type="submit" disabled>Add</button>
</form>
{% endblock %}