<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NDR App - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Northwest Disaster Relief App</h1>
    <ul>
        <li><a href="/supplies">Manage Supplies</a></li>
        <li><a href="/deliveries">Manage Deliveries</a></li>
        <li><a href="/drivers">Manage Drivers</a></li>
        <li><a href="/recipients">Manage Recipients</a></li>
        <li><a href="/deliveries-supplies">Manage Delivery Supplies</a></li>
    </ul>
</body>
</html>