{% extends "index.html" %}

{% block content %}

<h2>Supplies</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Category</th>
            <th>Inventory</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for s in supplies %}
        <tr>
            <td>{{ s.supplyID }}</td>
            <td>{{ s.supplyBrand }}</td>
            <td>{{ s.supplyModel }}</td>
            <td>{{ s.supplyCategory }}</td>
            <td>{{ s.currentInventory }}</td>
            <td>{{ s.unitDescription }}</td>
            <td>
                <a href="{{ url_for('edit_supply', id=s.supplyID) }}">
                    <button>Edit</button>
                </a>
            </td>
            <td>
                <form action="/delete-supply/{{ s.supplyID }}" method="POST" style="margin: 0;"><button
                        disabled>Delete</button></form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Add Supply</h3>
<form action="/add-supply" method="POST">
    <input name="supplyBrand" placeholder="Brand" required>
    <input name="supplyModel" placeholder="Model" required>
    <input name="supplyCategory" placeholder="Category" required>
    <input name="currentInventory" type="number" placeholder="Inventory" required>
    <input name="unitDescription" placeholder="Description">
    <button type="submit" disabled>Add</button>
</form>
{% endblock %}